{% extends 'facts.html' %}
{% load static %}

{% block title %}{{ object.name }}{% endblock %}

{% block content %}
    <p>{{object.short}}</p>
    {% if object.pattern %}
    <p>Patterns: {% for pattern in object.pattern.all %} 
        {{pattern}}{% if not forloop.last %}; {% endif %} {% endfor %} </p>
    {% endif %}
<hr>
    <h2>Description</h2>
    <p>{{ object.formatted_description|safe }}</p>

    <h2>Supporting evidence</h2>
    {% if object.evidence %}
        {% for evidence in object.evidence.all %}
            <p>{{ evidence }}</p>
        {% endfor %}
    {% else %}
        <p>No supporting evidence available</p>
    {% endif %}

{% endblock %} 