{% extends 'base.html' %}
{% load static %}

{% block navigationbar %}
<nav class="navbar nav-facts">
    <div class="navbar-icon">
        <a href="{% url 'facts_index' %}"><img src="{% static '/img/pm_logo_white.svg' %}" alt="Icon"></a>
    </div>
    <h3><a href="{% url 'facts_index' %}"><b>Psycho</b><em>Facts</em></a></h3>
    <ul>
        <li><a href="{% url 'facts_index' %}">About</a></li>
        <li><a>Search</a></li>
        <li><a>PhenoMenu</a></li>
        <li><a>Contact</a></li>
    </ul>
</nav>
{% endblock %}

{% block site %}
<div class="main-header">
    <div class="center">
        <h1><b>Psycho</b><i>Facts</i></h1>
        <p> The Psychological Phenomena We Encounter</p>
        <ul>
            <li><a>Facts</a></li>
            <li><a>Resources</a></li>
            <li><a>Tutorial</a></li>
        </ul>
    </div>
</div>
<div class="container">
    {% block content %}
    
    <h2>Psychofacts - A database for the phenomena we encounter</h2>

    <p>Psychofacts is a database for the collection and discussion of the Psychological phenomena. It hosts a diverse selection of robust and reliable empirical entities. The database can serve as an overview of things to explain or to benchmark theory development. Have fun.</p>
    
    <h2>What are phenomena?</h2>

    <p>By phenomena we mean robust empirical patterns that are as close to fact as possible, as they have been observed consistently and independent of research design and setting. Common belief in their existence is so strong that in general, when you don't find the phenomenon when analyzing data it will give you reason to suspect that something is wrong with your analysis. Feel free to browse the database for examples.</p>

    <h2>Why Phenomena?</h2>

    <p>Because we've robustly and independetly observed phenomena to a degree that we can reasonably state them to be absolutely existent, they serve as reliable blocks of evidence to build theory on. To unify the disparate field of Psychology strong theory is needed and for theory to be meaningful it needs to be build on an evidence base that itself is not in doubt, nor dependent on the idiosyncrasies of specific studies.</p>
    {% endblock %}
</div>

{% endblock %}

{% block footer %}
<footer class="footer">
    <p>&copy; 2023 <a href="{% url 'facts_index' %}">PsychoFacts</a>. All rights reserved.</p>
</footer>
{% endblock %}
