{% extends 'facts.html' %}
{% load static %}

{% block title %}Phenomena{% endblock %}

{% block sidebar %}
<div class="sidebar">
<form method="GET" action="{% url 'phenomena' %}">
    <table>
        {% for field in filter_form %}
        <tr>
            <th>{{ field.label_tag }}</th>
        </tr><tr>
            <td>{{ field }}</td>
        </tr>
        {% endfor %}
    </table>
    <div >
        <button type="submit" class="btn">Apply</button>
    </div>
</form>
</div>

{% endblock %}
 
{% block content %}

<p>Explore the various phenomena</p>

<form method="GET" action="{% url 'phenomena' %}">
    <table class="form-group">
        {% for field in search_form %}
        <tr>
            <td>{{ field.label_tag }}</td>
            <td>{{ field }}</td>
        </tr>
        {% endfor %}
    </table>
    <div >
        <button type="submit" class="btn">Search</button>
    </div>
</form>

<hr>

<table class="model-table">
    <tr>
        <th>Phenomenon name</th>
        <th>Short</th>
        <th>Field</th>
    </tr>
    {% for object in phenomena_list %}
    <tr>
        <td><a href="{{ object.id }}/">{{ object.name }}</a></td>
        <td>{{ object.short }}</td>
        <td>{% for f in object.field.all %} 
            {{f}}{% if not forloop.last %}; {% endif %} 
        {% endfor%}</td>

    {% empty %}
        <td>No models fit your search criteria.</td>
    </tr>
    {% endfor %}
</table>


{% endblock %}