{% extends 'facts.html' %}
{% load static %}

{% block title %}{{ phenomenon.name }}{% endblock %}
{% block content %}
    <p>{{ phenomenon.short }}</p>
    <hr>
    <h2>Description</h2>
    <p>{{ phenomenon.description }}</p>

    {% if phenomenon.field.all %}
    <p>Associated Fields: {% for field in phenomenon.field.all %}{{ field }}{% if not forloop.last %}; {% endif %}{% endfor %}</p>
    {% endif %}

    <h2>Empirical evidence</h2>
    <table>
    {% for fact in phenomenon.fact_set.all %}
    <tr>
        <th>Fact</th>
        <th>Short</th>
        <th>Patterns</th>
    </tr>
    <tr>
        <td><a href="{% url 'fact_view' fact.id %}">{{ fact.name }}</a></td>
        <td>{{ fact.short }}</td>
        <td> {% for pattern in fact.patterns.all %}{{ pattern }}{% if not forloop.last %}; {% endif %}{% endfor %}</td>
    </tr>
    {% empty %}
        <td>No empirical evidence available</td>
    {% endfor %}
    </table>


    <h2>Constructs</h2>
    <table>
        {% for construct in phenomenon.constructs.all %}
        <tr>
            <td><a href="{% url 'construct_view' construct.id %}">{{ construct.name }}</a></td>
        </tr>
        {% empty %}
        <td>No constructs are associated with this phenomenon.</td>
        {% endfor %}
{% endblock %}

