/* Reset some default styles */
body, html {
    margin: 0;
    padding: 0;
    /* Make the body full-width */
    width: 100%;
}


/* Set a modern-looking font */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f2f2f2;
}

.hidden-anchor {
  display:block;
  padding-top:100px;
  margin-top:-100px;
}

/* Style the navigation bar */
.navbar {
  background-color: #244657;
  color: #fff;
  padding: 5px;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-icon {
  margin-right: 15px;
  border-radius: 21px;
  width: 52px; /* Adjust the width as per your icon's dimensions */
  height: 52px; /* Adjust the height as per your icon's dimensions */
}

.navbar-icon img {
  width: 48px; /* Adjust the width as per your icon's dimensions */
  height: 48px; /* Adjust the height as per your icon's dimensions */
  margin: 3px;
}

.navbar h3 {
  font-size: 20px;
  font-weight: bold;
  position: fixed;
  left: 150px;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar li {
  margin-right: 20px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
}

.navbar a:hover {
font-weight: bold;}

/* Create a container for the main content */
.container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 60%;
  margin: 20px auto;
  margin-top: 80px;
  margin-bottom: 80px;
  flex: 1;
  z-index: 3;
}

.container h1 {
  color: #698aa3;
  margin-bottom: 20px;
}

.container p {
  color: #555;
  line-height: 1.5;
}

.container ul {
  color: #555;
}

.container table {
  width: 100%;
  margin-bottom: 20px;
  border-collapse: collapse;
  border-spacing: 10px;
}

.container th, td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
}

.wrapper a {
  color: #698aa3;
  text-decoration: none;
  margin: 20px;
}

#externalrepo {
  width: 150px;
  height: 50px;
  line-height: 50px;
  flex: 1;
  border-radius: 8px;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.1);
  background-color: #f1f1f1;
  text-align: center;
  vertical-align: middle;
}


.footer {
  background-color: #333;
  color: #fff;
  padding: 5px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.footer a {
    color: #ffffff;
    text-decoration: none;
  }


.main-header{
  display: flex;
  overflow: hidden;
  background-color: linear-gradient(rgba(255,255,255,.4) 0%, rgba(165,165,165,.4) 82%, rgba(115,115,115,.6) 100%); 
  background-image: url("../img/background.png");
  background-size: cover;
  background-attachment: fixed;
  height: calc(100% - 60px);
  position: relative;
  padding: 10%;
}


.center{
  margin: auto;
  padding: 70px;
  background-image: url("../img/pm_logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
  color: #fff;
  text-align: center;
  box-sizing: border-box;
  z-index: 1;
}

.center h1 {
    font-size: 64px;
    margin: 30px;
  }
  
.center p {
  font-size: 16px;
}

.center ul{
  list-style-type: none;
  margin: 0;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  margin: 40px;
  margin-bottom: 0;
}

.center li{
  border: 3px solid #333;
  border-radius: 8px;	
  background-color: rgba(51, 51, 51, .6);
  padding: 10px;
}

.center a {
  color: #fff;
  text-decoration: none;
}

.sidebar {
  position: fixed;
  display: block;
  width: 200px;
  border-width: 50px;
  border-color: #333;
  background-color: #ffffff;
  border-radius: 20px;
  margin: 30px;
  padding: 10px;
  padding-left: 30px;
  z-index: 4;
  justify-content: space-between;
}

.sidebar h2 {
  color: #698aa3;
  margin-bottom: 0px;
  margin-top: 0px	;
}

.sidebar ul {
  list-style-type: ">";
  padding: 10px;
  margin-left: 10px;
  margin: 0;
}

.sidebar li {
  padding: 10px;
}

.sidebar a {
  text-decoration: none;
  color: #ea8b34;
}