{% extends 'base.html' %}
{% load static %}

{% block title %}Edit model{% endblock %}

{% block content %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <table class="form-group">
            {% for field in form %}
            <tr>
                <td>{{ field.label_tag }}</td>
                <td>{{ field }}</td>
            </tr>
            {% endfor %}
        </table>
        
            <button type="submit" class="btn">Save</button>
    </form>
<a type="link" href="{% url 'model_view' form.instance.id %}"><button class="btn">Back to Model</button></a> 

{% endblock %}
