{% extends 'base.html' %}
{% load static %}


{% block title %}Frameworks{% endblock %}

{% block content %}
<p>Explore the various frameworks</p>

<form method="GET" action="{% url 'frameworks' %}">
    <table class="form-group">
        {% for field in search_form %}
        <tr>
            <td>{{ field.label_tag }}</td>
            <td>{{ field }}</td>
        </tr>
        {% endfor %}
    </table>
    <button type="submit">Search</button>
</form>

<hr>

<table>
    {% for object in object_list %}
    <tr>
        <td><a href="{{ object.id }}/">{{ object.framework_name }}</a></td>

    {% empty %}
        <td>No models fit your search criteria.</td>
    </tr>
    {% endfor %}
</table>


{% endblock %}
