{% extends 'base.html' %}
{% load static %}

    {% block site %}
    <div class="main-header">
        <div class="center">
            <h1><b>Psycho</b><i>Models</i></h1>
            <p> The  model repository for psychological science </p>
            <ul>
                <li><a href="{% url 'models_overview' %}">Models</a></li>
                <li><a href="{% url 'models_about' %}">Resources</a></li>
                <li><a href="{% url 'models_tutorial' %}">Tutorial</a></li>
            </ul>
        </div>
    </div>
    <div class="container">
        {% block title %}What is PsychoModels?{% endblock %}
        {% block content %}
        <p>
            This project aims at creating a database that encourages sharing, reusing, and extending computational implementations of formal models in psychology. 
            Through creating a platform designed for productive exchange both within modelling groups and between those modellers and empirical researchers, 
            modelling practices among researchers will be nurtured and further developed. </p>
        <p>
            Computational modelling is increasingly relevant for psychological research, but traditional publication outlets do not facilitate their usefulness. 
            Major issues are that no standards on how to document such models, no indexing systems, or systematic links between repositories exist. 
            Our database will create a curated resource addressing these issues. This will be a comprehensive inventory of computational models in published literature, 
            connecting publication records with entries in code and data repositories relevant, enriched by markers of the psychological context.
        </p>

        {% endblock %}
    </div>
    
    {% endblock %}
