{% extends 'base.html' %}
{% load static %}

{% block extrascripts %} 
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
{% endblock %}

{% block title %}{{object.model_name}}{% endblock %}

{% block content %}
<p>{{object.description}}</p>
<hr>
<h4>Author(s)</h4>
{% for author in object.publication.authors.all %}
{{author}},
{% endfor %}


<h4>Publication:</h4>
<cite>{{object.publication}}<a href="{{object.publication.unique_identifier}}">{{object.publication.unique_identifier}}</a></cite>

<hr>

<h4>Model Details:</h4>

<em>Variables</em>
{% if object.modelvariables.all %}
<table>
    <tr>
        <td>Sign</td>
        <td>Name</td>
        <td>Details</td>
    </tr>
    {% for variable in object.modelvariables.all %}
    <tr>
        <td>{{ variable.name }}</td>
        <td>{{ variable.variableId.variable_name }}</td>
        <td>{{ variable.details }}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>No variables attached to the model</p>
{% endif %}
<br>

{% if object.explanation %}
<em>Explanation</em>
<p>{{ object.formatted_explanation|safe }}</p>
<hr>
{% endif %}

<h4>Modelling Framework:</h4>
<p>{% for framework in object.framework.all %} 
        {{framework}}{% if not forloop.last %}; {% endif %} 
    {% endfor %} </p>

<div class="wrapper">
    <div id="textblock">
    <h4>Language:</h4>
    <p>{{ object.language.language_name }}</p>
    </div>
    <div id="textblock">
    <h4>Software:</h4>
    {% for p in object.softwarepackage.all %}
    <a href="{{ p.documentation }}">{{ p.name }}</a>
    {% endfor %}
    </div>
</div>


{% if object.codeURL or object.dataURL %}
<h4>External Repositories:</h4>

<div class="wrapper">
    {% if object.codeURL %}
        <a href="{{ object.codeURL }}">    
        <div id="externalrepo">
        Code Repository
        </div>
        </a>
    {% endif %}

    {% if object.dataURL %}
    <a href="{{ object.dataURL }}">    
    <div id="externalrepo">
        Data Repository
        </div>
    </a>
    {% endif %}

</div>
{% endif %}

<a href="{% url 'edit_model' pk=object.id %}"><button class="btn">Edit</button></a> 

{% endblock %}
