{% extends 'base.html' %}
{% load static %}

{% block title %}{{object.model_name}}{% endblock %}

{% block content %}
<p>{{object.description}}</p>
<hr>
<h4>Author(s)</h4>
{% for author in object.publication.model_authors.all %}
{{author}},
{% endfor %}


<h4>Publication:</h4>
<cite>{{object.publication}}</cite>

<h4>Modelling Framework:</h4>
<p>{% for framework in object.framework.all %} 
        {{framework}}{% if not forloop.last %}; {% endif %} 
    {% endfor %} </p>

<h4>Language:</h4>
<p>{{ object.language.language_name }}</p>

<h4>Model parameters:</h4>
{% if object.modelparameters.all %}
<table>
    <tr>
        <th>Name</th>
        <th>Details</th>
    </tr>
    {% for parameter in object.modelparameters.all %}
    <tr>
        <td>{{ parameter.name }}</td>
        <td>{{ parameter.details }}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>No parameters attached to the model</p>
{% endif %}

<h4>Variables:</h4>
{% if object.modelvariables.all %}
<table>
    <tr>
        <th>Name</th>
        <th>Details</th>
    </tr>
    {% for variable in object.modelvariables.all %}
    <tr>
        <td>{{ variable.name }}</td>
        <td>{{ variable.details }}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>No variables attached to the model</p>
{% endif %}

<hr>

{% if object.how_does_it_work %}
<h4>How does the model work:</h4>
<p>{{ object.how_does_it_work }}</p>
<hr>
{% endif %}

{% if object.codeURL or object.dataURL %}
<h4>External Repositories:</h4>

<div class="wrapper">
    {% if object.codeURL %}
        <a href="{{ object.codeURL }}">    
        <div id="externalrepo">
        Code Repository
        </div>
        </a>
    {% endif %}

    {% if object.dataURL %}
    <a href="{{ object.dataURL }}">    
    <div id="externalrepo">
        Data Repository
        </div>
    </a>
    {% endif %}

</div>
{% endif %}


{% endblock %}
