{% extends 'base.html' %}
{% load static %}


{% block title %}Overview{% endblock %}

{% block sidebar %}
<div class="sidebar">
<form method="GET" action="{% url 'models_overview' %}">
    <table>
        {% for field in filter_form %}
        <tr>
            <th>{{ field.label_tag }}</th>
        </tr><tr>
            <td>{{ field }}</td>
        </tr>
        {% endfor %}
    </table>
    <div >
        <button type="submit" class="btn">Apply</button>
    </div>
</form>
</div>
{% endblock %}

{% block content %}
<p>Explore the models</p>

<form method="GET" action="{% url 'models_overview' %}">
    <table class="form-group">
        {% for field in search_form %}
        <tr>
            <td>{{ field.label_tag }}</td>
            <td>{{ field }}</td>
        </tr>
        {% endfor %}
    </table>
    <div >
        <button type="submit" class="btn">Search</button>
    </div>
</form>

<hr>

<h2>Models</h2>

<table class="model-table">
    <tr>
        <th>Model name</th>
        <th>Authors</th>
        <th>Language</th>
        <th>Framework</th>
        <th>Variables</th>
    </tr>
    {% for object in object_list %}
    <tr>
        <td><a href="{{ object.id }}/">{{ object.model_name }}</a></td>
        <td>{{ object.publication.authors.first }} {% if object.publication.authors.count > 1 %}et al.{% endif %}</td>
        <td>{{ object.language }}</td>
        <td>{% for framework in object.framework.all %} 
                {{framework}}{% if not forloop.last %}; {% endif %} 
            {% endfor%}</td>
        <td> 
            {% if object.modelvariables.all|length < 6 %}
                {% for var in object.modelvariables.all %} 
                    {{var}}{% if not forloop.last %}; {% endif %} 
                {% endfor %}
            {% else %}
                {% for var in object.modelvariables.all|slice:":5" %}
                    {{var}};
                {% endfor %}
                ...
            {% endif %}
        </td>
    {% empty %}
        <td>No models fit your search criteria.</td>
    </tr>
    {% endfor %}
</table>


{% endblock %}
