{% extends 'base.html' %}

{% block title %}Submission{% endblock %}

{% block content %}

<p> PsychoModels is a community-driven database of computational models of the mind. We welcome submissions of models that are relevant to the study of the mind and brain. </p>

<p> {% comment %}
    <a href="{% url 'login' %}">Log into your account</a> 
    {% endcomment %}
    Log into your account </p>
<form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    {{ login_form.as_p }}
    <button type="submit">Log In</button>
</form>

<p>or <a href="{% url 'register' %}"> create a new account</a> to submit a full model.</p>
<br>
{% comment %}
<hr>

<h3> Submit a model anonymously</h3>
<p> Alternatively, you can propose a model to be included into the database:</p>

<form method="post">
    {% csrf_token %}
    {{ model_form.as_p }}
    <button type="submit">Submit</button>
</form>
{% endcomment %}

{% endblock %}