{% extends 'base.html' %}
{% load static %}


{% block sidebar %}
    <nav class="sidebar">
        <h3>Content</h3>
        <ul>
            <li><a href="#search">Search</a></li>
            <li><a href="#add">Add Model</a></li>
        </ul>
    </nav>
{% endblock %}
    
{% block title %}Tutorial - Use of Psychomodels{% endblock %}

{% block content %}
    
    <a class="hidden-anchor" id="search"></a>
    <h2>How to search for models?</h2>
    <p>Under <a href="{% url 'models_overview' %}">Explore the models</a>, you can type in your keywords in the different search fields.</p>
    <p>If you press "Search", the list will only show results that fit your search query.</p>

    <a class="hidden-anchor" id="register"></a>
    <h2>How to register?</h2>
    <p>Go to Psychomodels and click Submit a new model</p>
    <p>You can create an account by clicking “create an account” and following these steps:</p>
    <ol>
        <li>Fill out username, a valid email address and a password. Make sure to adhere to the given specifications for both username and password.</li>
        <li>Click “Register”.</li>
        <li>You will now be redirected to the main page, but your account will not be activated yet. Take a break while we activate everyone’s account.</li>
    </ol>

    <a class="hidden-anchor" id="add"></a>
    <h2>How to add a model?</h2>
    <p>If you go to "submit a model", you can login <a href="{% url 'model_submission' %}">here</a>.</p>
    <p>This will take you to the backend of the website. On the the left-hand side, you'll see a menu with the heading "MODELS". Below this heading, you'll see several menu items. </p>

    <p>To add a model, press the "+ Add" to the right of  the item "Psychmodels". Then do the following:</p>
    <ul>
    <li>Submitting user  = select your username from the list</li>
    <li>Reviewed [] = check this box to set your model visible</li>
    <li>Publication = press "+ Add" to add a publication. This opens a new window</li>
        <ul>
            <li>Unique identifier = add DOI (or journal page) URL</li>
            <li>Title = paste title of the publication in which to model has appeared here</li>
            <li>Model author = select the first author of the publication or press "+" to add this author. A new window will appear. What is requested should be self explanatory.</li>
            <li>Press "SAVE"</li>
        </ul>
    <li>Model name = give the model an appropriate and uniquely identifying name</li>
    <li>Description = provide a short paragraph describing the model, which answers the three questions:</li>
        <ul>
            <li>What is it about?</li>
            <li>What does it do?</li>
            <li>How does it work?</li>
        </ul>
    <li>Language = select the programming language in which the model was written. If the language is not available in the list, press "+". Another window will open:</li>
        <ul>
            <li>Language name = give language name</li>
            <li>Language description = provide an URL to a webpage that contains documentation about the language.</li>
            <li>Press "SAVE"</li>
        </ul>
    <li>Framework = select or add the framework or model type to which the model belongs. Select "Other" if you are unsure about your model’s framework</li>
    <li>CodeURL = if available, give a URL of the online storage of the model code</li>
    <li>DataURL = if the model uses data and this data is available online, add the URL to these data here. </li>
    </ul>
    <p>Press "SAVE"</p>


{% endblock %}
