{% extends 'base.html' %}
{% load staticfiles %}


{% block navigationbar %}
    <nav class="sidebar">
        <h3>Content</h3>
        <ul>
          <li><a href="#search">Search</a></li>
        </ul>
    </nav>
{% endblock %}
    
{% block title %}Tutorial - Use of Psychomodels{% endblock %}

{% block content %}
    
    <a class="hidden-anchor" id="search"></a>
    <h2>How to search for models?</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro voluptatum fugiat officia voluptates accusantium adipisci eum maxime ea. 
        Laboriosam, sit! Expedita, ipsum non quibusdam voluptates ipsam reiciendis architecto cupiditate excepturi.</p>


{% endblock %}
