<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <html lang="en"></html>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
    <link rel="shortcut icon" type="image/icon" href="{% static '/img/favicon.ico' %}" >
</head>

<body>
    <nav class="navbar">
        <div class="navbar-icon">
            <a href="{% url 'models_index' %}"><img src="{% static '/img/pm_logo_white.svg' %}" alt="Icon"></a>
        </div>
        <h3><a href="{% url 'models_index' %}"><b>Psycho</b><em>Models</em></a></h3>
        <ul>
            <li><a href="{% url 'models_about' %}">About</a></li>
            <li><a href="{% url 'models_overview' %}">Explore the models</a></li>
            <li><a href="{% url 'model_submission' %}">Submit a new model</a></li>
            <li><a href="{% url 'contact_page' %}">Contact</a></li>
        </ul>
    </nav>

    {% block navigationbar %}
    {% endblock %}

    {% block site %}
    <div class="container">


        <h1>{% block title %}Psychomodels{% endblock %}</h1>

        {% block content %}
        {% endblock %}
    </div>
    {% endblock %}

    <footer class="footer">
        <p>&copy; 2023 <a href="{% url 'contact_page' %}">PsychoModels</a>. All rights reserved.</p>
    </footer>
</body>
</html>
