{% extends 'base.html' %}
{% load static %}

{% block navigationbar %}
<nav class="navbar nav-facts">
    <div class="navbar-icon">
        <a href="{% url 'facts_index' %}"><img src="{% static '/img/pm_logo_white.svg' %}" alt="Icon"></a>
    </div>
    <h3><a href="{% url 'facts_index' %}"><b>Psycho</b><em>Facts</em></a></h3>
    <ul>
        <li><a href="{% url 'facts_index' %}">About</a></li>
        <li><a href="{% url 'phenomena' %}">Search</a></li>
        <li><a href="{% url 'phenomena' %}">PhenoMenu</a></li>
        <li><a>Contact</a></li>
    </ul>
</nav>
{% endblock %}


{% block footer %}
<footer class="footer">
    <p>&copy; 2023 <a href="{% url 'facts_index' %}">PsychoFacts</a>. All rights reserved.</p>
</footer>
{% endblock %}
